<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>Enter Characters</h1>
<template>
    <div>
        <form @submit.prevent="startgame">
            <div v-for="(name,index) in names" :key="index">
                <input v-model="names[index]" placeholder="Enter character name">
                <button @click.prevent="removemame(index)">Remove</button>
                <button type="button" @click="addname">Add</button>
                <button type="submit">Begin</button>
            </div>
        </form>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                names:['']
            };
        },
        methods:{
            addname(){
                this.names.push('nothing');
            },
            removename(index){
                this.names.splice(index,1);
            },
            startgame(){
                this.$router.push({
                    path:'/roulette',
                    query:{names:JSON.stringify(this.names)}
                });
            }
        }
    };
</script>
</body>
</html>